<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/styles/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>The site was made by Sarit Duta. Uses data from mapbox.com and darksky.net</p>
            <img class="portrait" src={{image}}>
        </div>

        {{>footer}}
    </body>
</html>